@page "/test"
@using DataAccessLibrary;
@inject IConfiguration Config
@inject IToastService Toaster
@inject ISqlDataAccess sql

<PageTitle>Index</PageTitle>

<h1>Testing string</h1>



<p>
	<AuthorizeView>
		<Authorized>
			<p>
				<a href="auth/google-logout" class="btn btn-primary">Log out</a>
			</p>
			@foreach(var item in context.User.Claims)
			{
				<h2>@item.Type @item.Value</h2>
			}
			<img src="@context.User.Claims.Where(s => s.Type == "picture")?.FirstOrDefault()?.Value"/>
		</Authorized>
		<NotAuthorized>
			<p>
				<a href="auth/google-login" class="btn btn-primary">Login with google</a>
			</p>
		</NotAuthorized>
	</AuthorizeView>
</p>

@code{
	private string defaultConnection = "";
	private string googleID = "";

	protected override void OnInitialized()
	{
		defaultConnection = Config.GetConnectionString("Default") ?? "Unknown";
		googleID = Config["Google:Id"] ?? "Not found";

	}
}