@page "/"
@using PbtADBConnector.Data;
@inject IUserData db;

<PageTitle>Seleccione su juego</PageTitle>

<div class="FullPage">
	<div class="DarkUpperMenu"></div>
	<div class="Title">Elije tu serie</div>

	<div class="GamesContainer">
		<a href="/DinoIsland">
			<div class="GameCover">
				<img src="imgs/GameCovers/DinoIsland.png" />
			</div>
		</a>
		<a href="/DW/Seasons">
			<div class="GameCover">
				<img src="imgs/GameCovers/DungeonWorld.png" />
			</div>
		</a>
		<a href="/DinoIsland">
			<div class="GameCover">
				<img src="imgs/GameCovers/UrbanShadows.png" />
			</div>
		</a>
	</div>
	
	<div class="d-flex flex-column text-light">
		@debug
		<button class="btn btn-primary w-25" @onclick=Test>Test</button>
	</div>
</div>

@code{
	private enum CurrentlySelectingOptions {Game, Season, Player};

	private AvailableGames SelectedGame = AvailableGames.NotSet;
	private Season? SelectedSeason = null;
	private PbtACharacter? SelectedPlayer = null;

	string debug = "Nothing yet";

	private async void Test()
	{
		debug = "";
		var res = await db.GetUsers();
		foreach(var r in res)
		{
			debug += r.FirstName + ", ";
		}
		Update();
	}

	private void Update() => InvokeAsync(()=> { StateHasChanged(); });
}
