@page "/"
@using PbtADBConnector.Data;
@inject DataBaseController Meta;
@inject NavigationManager nav;

<PageTitle>Seleccione su juego</PageTitle>

<div class="FullPage">
	<div class="DarkUpperMenu"></div>
	<div class="Title">Elije tu serie</div>

	<div class="GamesContainer">
		<div class="GameCover" @onclick=@(()=>{Meta.SelectedGame = AvailableGames.DI; nav.NavigateTo($"SeasonSelection/{Meta.SelectedGame}");})>
			<img src="imgs/GameCovers/DinoIsland.png" />
		</div>
		<div class="GameCover" @onclick=@(()=>{Meta.SelectedGame = AvailableGames.DW; nav.NavigateTo($"SeasonSelection/{Meta.SelectedGame}");})>
			<img src="imgs/GameCovers/DungeonWorld.png" />
		</div>
		<div class="GameCover" @onclick=@(()=>{Meta.SelectedGame = AvailableGames.US; nav.NavigateTo($"SeasonSelection/{Meta.SelectedGame}");})>
			<img src="imgs/GameCovers/UrbanShadows.png" />
		</div>
	</div>
</div>

@code{
	protected override void OnInitialized()
	{
		Meta.OnUpdateRequested += (o, e) => { InvokeAsync(() => { StateHasChanged(); }); };
	}
}
