.Header {
    display: flex;
}
.ClassIconContainer {
    display: flex;
    width: 35px;
}
.ClassIconPath {
    background: white;
    border: 3px solid black;
    border-radius: 50px;
    z-index:2;
}
.WideArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.LongBlackStripe {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    font-family: 'Saira Stencil One', sans-serif;
    font-size: 24px;
}
.SubText {
    display: flex;
    margin-left: 45px;
    opacity: 0.5;
}

.BoxPack {
    background: #1f2723e6;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #5d5d5d;
    color: #cdcdcd;
}

.CustomInput {
    background: #ffffffad;
    font-weight: 600;
}

h2{
    color:white;
}

.GeneralMoves{
}

.LastRollContainer{
    display: flex;
    flex-direction: column;
}
.dice{
    width:30px;
    height:30px;
    border:1px solid white;
    border-radius: 4px;
    display:flex;
    align-content:center;
    justify-content:center;
    flex-wrap: wrap;
    
}
.RollResult{
    font-size: 22px;
}

.BlacInput {
    background: #101815;
    color: white;
    font-weight: 600;
    width: 100%;
    outline: none;
    border: 1px solid black;
}

.flavor {
    padding: 10px;
    padding-right: 30px;
    color: #000000b8;
    background: url(imgs/paperBack.png) bottom right no-repeat;
}

    .flavor.hunter {
        font-family: monospace;
        font-size: 14px;
    }
.story{

}

.FullImageSpace {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 9;
    padding: 20px;
    padding-top: 8px;
    margin: 10px;
    border: 1px solid white;
    background: black;
    box-shadow: 1px 2px 8px black;
}

.PNJInList {
    max-width: 230px;
    min-width: 230px;
    aspect-ratio: 300/355;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}

.PNJName {
    position: absolute;
    bottom: 7%;
    left: 0;
    color: black;
    font-family: 'Julius Sans One';
    font-weight: 600;
    width: 100%;
    display: block;
    text-align: center;
}

.TotalSuccess {
    background: #032308;
    color: #c5ffc5;
}
.HalfSuccess {
    background: #4b1c01;
    color: orange;
}
.FailedRoll {
    background: #3b0000;
    color: #f3d6d6;
}

/*
    font-family: 'Bungee', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Saira Stencil One', sans-serif;

*/
