.Header {
    display: flex;
}
.ClassIconContainer {
    display: flex;
    width: 35px;
}
.ClassIconPath {
    background: white;
    border: 3px solid black;
    border-radius: 50px;
    z-index:2;
}
.WideArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.LongBlackStripe {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    font-family: 'Saira Stencil One', sans-serif;
    font-size: 24px;
}
.SubText {
    display: flex;
    margin-left: 45px;
    opacity: 0.5;
}

.BoxPack {
    background: #1f2723e6;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #5d5d5d;
    color: #cdcdcd;
}

.CustomInput {
    background: #ffffffad;
    font-weight: 600;
}

h2{
    color:white;
}

.GeneralMoves{
}


.flavor {
    padding: 10px;
    padding-right: 30px;
    color: #000000b8;
    background: url(imgs/paperBack.png) bottom right no-repeat;
}

    .flavor.hunter {
        font-family: monospace;
        font-size: 14px;
    }
.story{

}
/*
    font-family: 'Bungee', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Saira Stencil One', sans-serif;

*/
