@page "/Test"
<div class="h-100 p-5 m-5">

    <ScumAndVillainy.Controls.SVPanel>
        <div style="color:white;">
            <div>This is a test</div>
            <div>This is a test</div>
            <div>This is a test</div>
            <div>This is a test</div>
            <div>This is a test</div>
            <div>This is a test</div>
            <div>This is a test</div>
            <div>This is a test</div>
            <div>This is a test</div>
        </div>
    </ScumAndVillainy.Controls.SVPanel>
</div>

@code {

}
