@using static VikingBoardGames.Shared.Enums

<div class="ButtonsMenu">
    <div class="MenuButton @(CurrentMode == MainPageModes.playerManagement ? "activeMenuButton" : "")" @onclick=SetPlayerManagement>
		PLAYER MANAGEMENT
	</div>
	<div class="MenuButton @(CurrentMode == MainPageModes.RunningGame ? "activeMenuButton" : "")" @onclick=SetRunningGame>
		RUNNING GAME
	</div>
    <div class="MenuButton @(CurrentMode == MainPageModes.NPCs ? "activeMenuButton" : "")" @onclick=@(()=>{SetNPCs.InvokeAsync();})>
		NPCs
	</div>
</div>

<style>
	.ButtonsMenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
}
.MenuButton {
    background: #B9FDBF;
    cursor: pointer;
    width: 348px;
    height: 44px;
    display: flex;
    font-family: Roboto;
    font-size: 16px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
    .MenuButton:hover {
        background-color: #8FDE95;
        color: black;
    }
.activeMenuButton {
    background-color: #0E4A13;
    color: white;
}
    .activeMenuButton:hover {
        background-color: #0E4A13;
        color: white;
    }
</style>
@code {
    [Parameter] public EventCallback SetPlayerManagement { get; set; }
    [Parameter] public EventCallback SetRunningGame { get; set; }
    [Parameter] public EventCallback SetNPCs { get; set; }

    [Parameter] public MainPageModes CurrentMode { get; set; }
}
