@page "/DebEdit/"

@using System.Text.Json
@using Microsoft.AspNetCore.Components.Forms;
@inject IToastService Toaster
@inject CharacterSelectionService Selector
@inject NavigationManager Navigation
@inject USGameController Game

<div class="FAB">
	<i class="bi bi-x-square PanelButton red" @onclick=Cancel />
	<i class="bi bi-check-square PanelButton green" @onclick=Submit />
</div>
<div class="PbtASystemContainer fullpage">
	<div class="floatingContainer">
		<div class="TheOther mb-4" @onclick=ChangeDude>@DudeName</div>	
		<EditForm Model="Debt" OnSubmit="Submit">
			<div class="opacity-50">Motivo:</div>
			<InputTextArea style="width:100%; background:black; color:white; border:none; padding:5px;"  rows="5" @bind-Value=Debt.Reason/>
			<div class="opacity-50">cantidad:</div>
			<div class="d-flex align-items-center gap-2">
				<i class="bi bi-dash-square PanelButton" @onclick=Minus/>
				<div class="flex-grow-1">
					<InputNumber style="width:100%;text-align: center; font-size: 1.5em; background:black; color:white; border:none; padding:5px;" @bind-Value=Debt.Amount />
				</div>
				<i class="bi bi-plus-square PanelButton" @onclick=Plus/>
			</div>
		</EditForm>
	</div>
</div>

@code {
	[Parameter] public Debt Debt { get; set; }
	[Parameter] public EventCallback Exit { get; set; }
	[Parameter] public USCharacterSheet Player { get; set; }

	PayingMode Mode = PayingMode.ToBePaid;
	private Debt Original { get; set; } = new();

	protected override void OnParametersSet()
	{
		SetMode();
		BackUp();
		base.OnParametersSet();
	}

	private void Minus()
	{
		if (Debt.Amount > 0) Debt.Amount--;
	}
	private void Plus() => Debt.Amount++;

	string DudeName
	{
		get
		{
			if (Mode == PayingMode.ToPay)
				return Game.GetCharacterByID(Debt.ReceivingID).Name;
			else
				return Game.GetCharacterByID(Debt.PayingID).Name;
		}
	}

	private void SetMode()
	{
		if (Debt.PayingID == Player.ID)
			Mode = PayingMode.ToPay;
		else
			Mode = PayingMode.ToBePaid;

	}
	private void BackUp()
	{
		Original = JsonSerializer.Deserialize<Debt>(JsonSerializer.Serialize(Debt));
	}

	private async Task ChangeDude()
	{
		if (Mode == PayingMode.ToPay)
			Debt.ReceivingID = (await Selector.SelectViaSelector()).ID;
		else
			Debt.PayingID = (await Selector.SelectViaSelector()).ID;
		
		StateHasChanged();
	}

	private async Task Cancel()
	{
		Debt = JsonSerializer.Deserialize<Debt>(JsonSerializer.Serialize(Original)); 
		await Exit.InvokeAsync();
	}

	private async Task Submit()
	{
		await Game.StoreDebt(Debt);
		await Exit.InvokeAsync();
	}
}
