@page "/EditFaction/"


@inject USGameController Game
@inject NavigationManager Navigation

<div class="PbtASystemContainer">
	<EditForm Model="Faction">
		<div class="d-flex w-100 flex-column">
			<div class="d-flex flex-column p-2">
				<div class="DataBoxSmall">
					<div class="DataHeader">Nombre:</div>
					<div class="DataBody">
						<InputText style="width: 100%; padding: 5px; outline:none; background: var(--bs-gray-700);color: white;border: none;"
							@bind-Value=Faction.Name />
					</div>
				</div>
				<div class="DataBoxSmall">
					<div class="DataHeader">Tipo:</div>
					<div class="DataBody">
						<InputText style="width: 100%; padding: 5px; outline:none; background: var(--bs-gray-700);color: white;border: none;" @bind-Value=Faction.Kind />
					</div>
				</div>
			</div>
			<div class="d-flex flex-column p-2">
				<div class="DataBoxSmall">
					<div class="DataHeader d-flex align-items-center">Creciendo?</div>
					<div class="DataBody">
						@if(Faction.Status == FactionStatuses.Menguando)
						{
							<img src="imgs/Icons/DownCircle.svg" width="50" @onclick=@(_ => { Faction.Status = FactionStatuses.Manteniendo; }) />
						}
						else if(Faction.Status == FactionStatuses.Creciendo) 
						{
							<img src="imgs/Icons/UpCircle.svg" width="50" @onclick=@(_ => { Faction.Status = FactionStatuses.Menguando; }) />
						}
						else
						{
							<img src="imgs/Icons/EqualCircle.svg" width="50" @onclick=@(_ => { Faction.Status = FactionStatuses.Creciendo; }) />
						}
					</div>
				</div>
				<div class="DataBoxSmall">
					<div class="DataHeader">Fuerza:</div>
					<div class="d-flex flex-column flex-grow-1">
						<div class="DataBody d-flex gap-1">
							<InputNumber style="width: 100%; padding: 5px; outline:none; background: var(--bs-gray-700);color: white;border: none;"
										@bind-Value=Faction.Strength />
							<Track @bind-Value=Faction.StrengthTemp />
						</div>
						<div class="mt-1">
							<InputText style="width: 100%; padding: 5px; outline:none; background: var(--bs-gray-700);color: white;border: none;"
										@bind-Value=Faction.StrengthExplanation />
						</div>
					</div>
				</div>
				<div class="DataBoxSmall mt-2">
					<div class="DataHeader">Tamaño:</div>
					<div class="d-flex flex-column flex-grow-1">
						<div class="DataBody d-flex gap-1">
							<InputNumber style="width: 100%; padding: 5px; outline:none; background: var(--bs-gray-700);color: white;border: none;"
											@bind-Value=Faction.Size />
							<Track @bind-Value=Faction.SizeTemp />
						</div>
						<div class="mt-1">
							<InputText style="width: 100%; padding: 5px; outline:none; background: var(--bs-gray-700);color: white;border: none;"
										@bind-Value=Faction.SizeExplanation />
						</div>
					</div>
				</div>
				<div class="DataBox mt-3">
					<div class="DataHeader">Trabajando en...</div>
					<div class="DataBody">
						<InputTextArea style="width: 100%;background: var(--bs-gray-700);color: white;border: none;"
									   @bind-Value=Faction.CurrentlyWorkingOn />
					</div>
				</div>
				<div class="DataBox">
					<div class="DataHeader">Descripción:</div>
					<div class="DataBody">
						<InputTextArea style="width: 100%;background: var(--bs-gray-700);color: white;border: none;"
									   @bind-Value=Faction.Description />
					</div>
				</div>
				<div class="DataBox">
					<div class="DataHeader">Activos</div>
					<div class="DataBody">
						<InputTextArea style="width: 100%;background: var(--bs-gray-700);color: white;border: none;"
									   @bind-Value=Faction.Assets />
					</div>
				</div>
				@if (/*Auth.IsMaster*/true)
				{
					<div class="DataBox">
						<div class="DataHeader">Master seeds:</div>
						<div class="DataBody">
							<InputTextArea 
								style="width: 100%;background: var(--bs-gray-700);color: white;border: none;" 
								@bind-Value=Faction.MasterSeeds />
						</div>
					</div>
				}
				else
				{
					<div class="DataBox">
						<div class="DataHeader opacity-25">Las notas para el master han sido ocultadas</div>
					</div>
				}
				<div class="FAB">
					<i class="bi bi-x-square PanelButton red" @onclick=Dismiss />
					<i class="bi bi-check-square PanelButton green" @onclick=Submit />
				</div>
			</div>
		</div>
	</EditForm>
</div>

@code {
	[Parameter] public EventCallback Exit { get; set; }
	[Parameter] public Faction Faction { get; set; }

	Faction Backup = new();

	protected async override Task OnParametersSetAsync()
	{
		Backup = Faction.Duplicate();

		StateHasChanged();
	}

	private async Task Submit()
	{
		await Game.StoreFaction(Faction);
		//await Data.ForceDataRefresh();
		await Exit.InvokeAsync();
	}

	private async Task Dismiss()
	{
		Faction = Backup.Duplicate();
		await Exit.InvokeAsync();
	}

	private void ChangeStatus(FactionStatuses newStatus)
	{
		Faction.Status = newStatus;
	}

	private void UpdateStrength(int newVal)
	{
		if (Faction.StrengthTemp > newVal) Faction.StrengthTemp--;
		else if (Faction.StrengthTemp <= newVal) Faction.StrengthTemp++;

		if (Faction.StrengthTemp >= 3) Faction.StrengthTemp = 3;
		if (Faction.StrengthTemp <= 0) Faction.StrengthTemp = 0;
	}

	private void UpdateSize(int newVal)
	{
		if (Faction.SizeTemp >= newVal) Faction.SizeTemp--;
		else if (Faction.SizeTemp < newVal) Faction.SizeTemp++;

		if (Faction.SizeTemp >= 3) Faction.SizeTemp = 3;
		if (Faction.SizeTemp <= 0) Faction.SizeTemp = 0;
	}
}
