.VTTMiniSheet {
    position: fixed;
    z-index: 790;
    height: 100%;
    width: 500px;
    top: 0;
    right: 0;
    background: #1C1E20;
    overflow: auto;
    border-left: 1px solid black;
    box-shadow: black -1px 0px 10px 1px
}

    .VTTMiniSheet .Exit {
        position: fixed;
        top: 5px;
        right: 483px;
        padding: 0px;
        font-size: 30px;
        color: gray;
        cursor: pointer;
        background: #1C1E20;
        border-radius: 100%;
        line-height: 35px;
        padding-left: 2px;
        width: 35px;
        height: 35px;
    }

        .VTTMiniSheet .Exit:hover {
            color: white;
        }

    .VTTMiniSheet .ClocksMini {
        position: fixed;
        top: 45px;
        right: 483px;
        padding: 0px;
        font-size: 30px;
        color: gray;
        cursor: pointer;
        background: #1C1E20;
        border-radius: 100%;
        line-height: 35px;
        padding-left: 2px;
        width: 35px;
        height: 35px;
    }

        .VTTMiniSheet .ClocksMini:hover {
            color: white;
        }

    .VTTMiniSheet i {
        position: absolute;
    }

.CircleSelector{
    display:flex;
    margin:0 5px;
}
    .CircleSelector div {
        background: #2d2b2b;
        color: white;
        flex: 1 1;
        display: flex;
        justify-content: center;
        padding: 0.5em;
    }
.hoverable{
    opacity:0.2;
}
    .hoverable:hover{
        opacity:1;
    }
    .hoverable.Selected {
        opacity: 1;
        background: black;
        border-radius: 10px 10px 0px 0px;
    }

.TokensTry {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 1em;
    color: white;
    max-height:830px;
}
    .TokensTry.Minimized{
        max-height:40px;
    }
.TokenSelector{
    cursor:pointer;
    opacity:0.5;
}
.TokenSelector:hover{
    opacity:1;
}

