.BigContainer {
    width: 100vw;
    height: 100vh;
    background: #1C1E20;
    display: flex;
    gap: 0px;
    font-family: Roboto;
    color:gray;
}

.LeftColumn {
    background: black;
    height: 100%;
    min-width: 375px;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 12px black;
}

.LeftColumnHeader {
    height: 105px;
    background-image: url(imgs/US/Header.png);
    padding: 20px;
    color: white;
    font-weight: bold;
}
.HeaderInner {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.UpgradeButton {
    width: 25px;
    height: 25px;
    opacity: 0.75;
    cursor: pointer;
}
.UpgradeButton:hover{
    opacity: 1;
}

.RoundButton {
    display: flex;
    padding: 5px 40px;
    border-radius: 40px;
    opacity:0.5;
    cursor:pointer;
}
.RoundButton:hover{
    opacity:1;
}
.IntegratedRed {
    background: black;
    border: 1px solid #700C0C;
    color: gray;
}
.CorruptionArea{
    width: 100%;
    display:flex;
    align-items:center;
    padding: 9px 25px;
    gap: 4px;
}
.ArmorContainer {
    width: 50px;
    background-image: url(imgs/US/Armor.png);
    filter: invert(1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    font-size: 22px;
    background-size: contain;
    background-position: center;
}


.Wound {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding:2px;
}

.SoftInner {
    background: #1F371B;
    border: 1px solid #1f371ba1;
}

.MidInner {
    background: #4E3005;
    border: 1px solid #4E3005a1;
}

.HardInner {
    background: #581111;
    border: 1px solid #581111a1;
}
.WoundMark {
    background: url(imgs/US/BloodSplat.png);
}
.WoundsContainer {
    display: flex;
    justify-content: end;
    align-items:center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
}

.Soft {
    border: 1px solid #2E6D3087;
}

.Mid {
    border: 1px solid #A4471287;
}

.Hard {
    border: 1px solid #C7060687;
}

.LeftColumnTittle{
    font-size:15px;
    opacity: 0.5;
}

.InnerColumn {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    flex: 1;
    overflow-y:auto;
    transition: all linear 0.1s;
}
.InnerColumnHeader {
    color: #555658;
    border-bottom: 1px solid #555658;
}
.InnerColumnPack{
    padding:10px;
}
.InnerColumContent {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px 6px;
    color: #8E8F90;
}
.RightColumn{
    min-width: 165px;
    max-width: 165px;
    background:url(imgs/US/LeftBar.png);
}

.RoundedGrayButton {
    border-radius: 50px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items:center;
    opacity: 0.5;
    cursor:pointer;
}
.RoundedGrayButton:hover{
    opacity: 1;
}

.FullScreenModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 800;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: 1;
    pointer-events: all;
    transition: opacity 250ms ease;
    overflow-y: auto;
    color:white;
}

.ModalBody {
    display: flex;
    background: #1C1E20;
    padding: 50px;
    padding-top: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

.HideModal {
    display: none!important;
    pointer-events: none;
}

.RightColumnButton{
    font-size:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
    border-radius: 4px;
    margin:10px;
    margin-left:20px;
    aspect-ratio: 1/1;
    color:white;
    opacity: 0.5;
    cursor: pointer;
}
.RightColumnButton:hover{
    opacity: 1;
}

.LetItOutBox div{
    margin:5px;
    font-size:14px;
    background:black;
    padding:5px;
}
.editButton {
    color: #5cff5c !important;
    opacity: 0.3;
    cursor: pointer;
}
.editButton:hover{
    opacity:0.5;
}


.VTTMiniSheet {
    position: fixed;
    z-index: 790;
    height: 100%;
    width: 405px;
    top: 0;
    right: 0;
    background: #1C1E20;
    overflow: auto;
    border-left: 1px solid black;
    box-shadow: black -1px 0px 10px 1px
}
    .VTTMiniSheet .Exit {
        position: fixed;
        top: 5px;
        right: 390px;
        padding: 0px;
        font-size: 30px;
        color: gray;
        cursor: pointer;
        background: #1C1E20;
        border-radius: 100%;
        line-height: 35px;
        padding-left: 2px;
        width: 35px;
        height: 35px;
    }
    .VTTMiniSheet .Exit:hover {
        color:white;
    }
    .VTTMiniSheet .ClocksMini {
        position: fixed;
        top: 45px;
        right: 390px;
        padding: 0px;
        font-size: 30px;
        color: gray;
        cursor: pointer;
        background: #1C1E20;
        border-radius: 100%;
        line-height: 35px;
        padding-left: 2px;
        width: 35px;
        height: 35px;
    }
        .VTTMiniSheet .ClocksMini:hover {
            color: white;
        }
        .VTTMiniSheet i{
            position:absolute;
        }