<div class="accordion" id="@PackName">
	@for(int i = 0; i< Moves.Count; ++i)
	{
		@if (i==0 && OpenFirst)
		{
			<MoveViewerDino Move="Moves[i]" PackID="@PackName" StartsOpen=true LastRoll="LastRoll" AllowMultipleSelection=AllowMultipleSelection />
		}
		else
		{
			<MoveViewerDino Move="Moves[i]" PackID="@PackName" StartsOpen=false LastRoll="LastRoll" AllowMultipleSelection=AllowMultipleSelection />
		}
	}
</div>

@code {
	[Parameter] public string PackName { get; set; } = Guid.NewGuid().ToString();
	[Parameter] public List<DinoMove> Moves { get; set; } = new();
	[Parameter] public bool OpenFirst { get; set; } = true;
	[Parameter] public bool AllowMultipleSelection { get; set; } = false;
	[Parameter] public RollReport<DinoMoveIDs, DinoStates>? LastRoll { get; set; }

	private bool IsFirst = true;
}
