.DiceRange {
    min-width: 32px;
    max-width: 32px;
    text-align: right;
}

.moveCore {
    background: #eaebf1;
}
.MoveNotAvailable {
    background: #DDD;
    color: #a26a6a;
}
.separator {
    background: #DDD;
    color: #a26a6a;
    border-bottom: 1px solid black;
}
.NoBoxShadow{
    box-shadow:none !important;
}
.Julius {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
}

.IconHeaderContainer{
    display:flex;
    align-items: center;
    border-radius: 4px;
    padding: 0 8px;
    opacity:0.4;
}

.Icon {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Saira Stencil One', sans-serif;
    font-weight: 100;
    cursor: pointer;
}

.StatNumber {
    font-size: 15px;
    font-family: monospace;
}

.border-blue{
    border: 1px solid blue;
    color: blue;
}
.border-red {
    border: 1px solid red;
    color: red;
}
.border-green {
    border: 1px solid green;
    color: green;
}
.border-black {
    border: 1px solid black;
    color: black;
}

.Blue {
    color: Blue;
}
    .Int::after {
        content: "I";
    }

.Red {
    color: red;
}
    .Fi::after {
        content: "F";
    }

.Green {
    color: green;
}
    .Calm::after {
        content: "C";
    }

.Plus0 {
}
    .Plus0::after {
        content: "+0";
    }

.Plus1 {
}
    .Plus1::after {
        content: "+1";
    }

.HiddenIcon{
    width: 0px;
    display: none;
}