@inject DinoPlayer Player

<div class="d-flex" @onclick=Toggle style="cursor: pointer;">
	@if (Player.IsDown)
	{
		<div style="width: 25px; height: 25px; border-radius: 4px; background: red; border: 1px solid black;"></div>
	}
	else
	{
		<div style="width: 25px; height: 25px; border-radius: 4px; background: white;border: 1px solid black;"></div>
	}
	<span>Fuera de combate</span>
</div>



@code {
	private void Toggle()
	{
		Player.IsDown = !Player.IsDown;
	}

}
