.ability {
    background: #3c445d;
    padding: 0px 12px;
    border-color: #665efb88;
    color: white;
}
/*.ability {
    background: #071b55;
    padding: 12px;
    border: 1px solid #665efb;
    color: white;
    border-radius: 14px;
    flex-grow: 1;
}*/


    .ability.VeteranAbility {
        border-color: #a900ff88;
        background: #3c0755;
    }

.ExpandButton {
    margin-bottom: -7px;
    opacity: 0.75;
    cursor: pointer;
}
    .ExpandButton:hover {
        opacity: 1;
    }

