<span @onclick=@(async (e)=>{await Start();})>
	<i class="bi bi-info-circle fs-6" style="cursor:pointer; opacity: @(ForcedOpacity)% ;"></i>
</span>

@code {
	[Parameter] public EventCallback<Tuple<string,string>> HelperInvoked { get; set; }
	[Parameter] public string Title { get; set; } = "Info";
	[Parameter] public string HelpText { get; set; } = string.Empty;
	[Parameter] public int ForcedOpacity { get; set; } = 25;

	private async Task Start()
	{
		var t = new Tuple<string, string>( Title,HelpText );
		await HelperInvoked.InvokeAsync(t);
	}
}
