.HelpButton {
    padding: 1em;
    background: #ffffff2e;
    color: #ffffffb6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    font-family: Consolas;
}
    .HelpButton:hover {
        background: #ffffff55;
    }
    .HelpButton.Pressed {
        background: #930000 !important;
        color: white;
        box-shadow: inset black 1px 1px 6px;
    }
    .HelpButton.Pressed.Green {
        background: green !important;
    }
    .HelpButton.Pressed.Blue {
        background: blue !important;
        }
    .HelpButton.Pressed.Turquoise {
        background: #0e7168 !important;
    }
.Cancelled {
    pointer-events: none;
    opacity: 0.3;
}
.Cancelled:hover{
    background: #932c2c13;
}


.HelpBox {
    padding: 2em;
    background-image: url(./SVBack.png);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Ship {
    background: #74cb7f;
    color: black;
}
.Player {
    background: #81bfff;
    color: black;
}

.HelperColor {
    background: #81ffdc;
    color:black;
}

.Stress {
    background: #ff8181;
    color: black;
}

.Dice {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
}

.BlueDice {
    background-image: url(./DiceBlue.png);
}
.BrokenDice {
    background-image: url(./DiceBlue.png);
    opacity: 0.5;
    filter: blur(2px);
}
.GreenDice {
    background-image: url(./DiceGreen.png);
}
.YellowDice {
    background-image: url(./YellowDice.png);
}
.ExtraDiceQuestionPanel {
    cursor: pointer;
    background: #ffffff1a;
    border-radius: 5px;
    opacity:0.5;
}
.ExtraDiceQuestionPanel:hover{
    opacity:1;
}
.RedDice {
    background-image: url(./DiceRed.png);
}
.DiceNumber {
    font-weight: bold;
    font-size: 30px;
    filter: drop-shadow(0px 0px 7px black);
    color: #fff;
    text-shadow: 3px 3px 2px #000, -3px 3px 2px #000, -3px -3px 2px #000, 3px -3px 2px #000;
}

.HelperDice {
    background-image: url(./DiceTurquoise.png);
}

.EffectBox {
    flex: 1;
    background: black;
    border: 1px solid rgb(7 213 251 / 17%) !important;
    cursor: pointer;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    opacity: 0.75;
}
    .EffectBox:hover {
        background: #020b14;
    }
    .EffectBox.Ticked {
        background: #020b14;
    }
    .EffectBox.Selected {
        opacity: 1 !important;
        background: #021a23 !important;
        filter: drop-shadow(0px 0px 6px rgb(7 213 251 / 50%));
    }

.Consolas{
    font-family:Consolas;
}

td{
    width:29%; 
}

td:first-child{
    width:13%;
    text-align:center;
}
.DiceHint{
    margin-top:3px;
    display:block;
}
.XPHint {
    color: #00ff2d;
    font-weight:bold;
    padding-left:10px;
}

td.Selected {
    border: 1px solid rgb(7 213 251 / 17%) !important;
    opacity: 0.5;
    background: #021a23 !important;
    height: 1px;
}
td.NotSelected {
    opacity: 0.5;
    border: 1px solid rgb(7 213 251 / 2%) !important;
    height: 1px;
    background: black !important;
}
td.Final {
    opacity: 1;
    background: #021a23 !important;
    height: 1px;
    filter: drop-shadow(0px 0px 6px rgb(7 213 251 / 50%));
}
.TdContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RedButton {
    background: #350409;
    border: 1px solid #db2727d1;
    padding: 20px;
    aspect-ratio: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 1px #db2727);
    cursor: pointer;
}
    .RedButton:hover {
        background: #4d050d;
        filter: drop-shadow(0px 0px 7px #db2727)!important;
    }

.GreenButton {
    background: #011009;
    border: 1px solid #27db5ed1;
    padding: 20px;
    aspect-ratio: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 5px #27db5e88);
    cursor: pointer;
}

    .GreenButton:hover {
        background: #032917;
        filter: drop-shadow(0px 0px 7px #27db5e88) !important;
    }

.BigButtonsbox{

}
.BigButtonsbox:hover div{
    filter:none;
}

.ResistanceBox {
    background: #021a23 !important;
    filter: drop-shadow(0px 0px 6px rgb(7 213 251 / 50%));
    padding: 20px;
    border-radius: 14px;
    opacity: 0.5;
    border: 1px solid rgb(7 213 251 / 17%) !important;
}
    .ResistanceBox:hover {
        opacity: 1;
        border: 1px solid green;
    }