
.Tick {
    transform: skewX(-20deg);
    border: 2px solid #665efb;
    width: 15px;
    margin-top: -2px;
    height: calc(100% + 4px);
    cursor: pointer;
    opacity: 0.5;
}
    .Tick.IsInverted {
        transform: skewX(20deg);
    }
    .Tick:hover {
        background: #272551;
    }
.Tick>div:hover{
    filter:brightness(1.5);
}

.Ticked {
    width: 100%;
    height: 100%;
    background: #665efb;
}


.Tick.Red {
    border: 2px solid #db2727;
}
    .Tick.Red:hover {
        background: #3d0b0b;
    }
    .Tick.Red > .Ticked {
        background: #7f0303 !important;
    }

.Tick.Green {
    border: 2px solid #489748;
    opacity:0.5;
}
    .Tick.Green:hover {
        background: #0060006b;
    }
    .Tick.Green > .Ticked {
        background: #006000 !important;
        opacity:1;
    }

.Tick:has(> .Ticked){
    opacity:1;
}