@inherits LayoutComponentBase
@inject IDataBaseController _db;
@inject IToastService toaster;

<PageTitle>PbtAWorldApp</PageTitle>

<Blazored.Toast.BlazoredToasts Timeout="15" ShowProgressBar=true/>

<div class="page h-100">

    <main style="background: #1c1e20;">
        @Body
    </main>
</div>

@code{
    protected override void OnParametersSet()
    {
        _db.OnNewDataBaseError -= ShowError;
        _db.OnNewDataBaseError += ShowError;
    }

    void ShowError(object? sender, Exception ex)
    {
        toaster.ShowError(ex.Message);
        if (ex.InnerException is not null) toaster.ShowError(ex.InnerException.Message);
    }

}
