@inject DinoCharacter Player
@inject DinoGameController Game

@using BlazorBootstrap;
<div class="MiniMapContainer">
	<div class="MapMiniViewer" @onclick=Click>
		@foreach(var point in Game.MapTokens)
		{
			<div class="MapToken"
				@onclick:preventDefault=true
				@onclick:stopPropagation=true
				@onclick=@(async ()=>{ await AnchorpointClicked(point);})
				 style="position: absolute; left:@point.xValue ; top:@point.yValue ; background-image:url(@point.Token.ToImagePath())" 
				 title="@point.Token.ToUI()">
			</div>
		}
	</div>
</div>

<Offcanvas @ref="offcanvas">
	<BodyTemplate>
		<div class="d-flex flex-wrap gap-3">
		@foreach (var icon in Enum.GetValues(typeof(DinoMapTokens)).Cast<DinoMapTokens>())
		{
			@if(icon != DinoMapTokens.NotSet && icon != DinoMapTokens.Empty)
			{
				<div class="MapTokenContainer">
					<div class="MapToken" 
						@onclick=@(async ()=>{await SelectIcon(icon);}) 
						style="background-image:url(@icon.ToImagePath())">
					</div>
					@icon.ToUI()
				</div>
			}
		}
			<div class="d-flex text-danger" style="cursor: pointer;" @onclick=DeleteIcon>
				<i class="bi bi-trash"></i>
				Eliminar icono del mapa
			</div>
		</div>
	</BodyTemplate>
</Offcanvas>

@code {

	private MapItem? temp = null;

	protected override void OnParametersSet()
	{
		Game.OnUIUpdate += (o,e)=> { InvokeAsync(()=> { StateHasChanged(); }); };
	}

	private async Task SelectIcon(DinoMapTokens icon)
	{
		if(SelectedAnchorPoint is not null)
		{
			if(temp is not null)
				Game.MapTokens.Remove(temp);

			SelectedAnchorPoint.Token = icon;
			SelectedAnchorPoint.Action = MapActions.Add;
			Game.UpdateMap(SelectedAnchorPoint);
			SelectedAnchorPoint = null;
			temp = null;
		}

		await offcanvas?.HideAsync();
	}

	private MapItem? SelectedAnchorPoint = null;

	private async Task AnchorpointClicked(MapItem point)
	{
		SelectedAnchorPoint = point;
		await offcanvas?.ShowAsync();
	}

	private async Task DeleteIcon()
	{
		if(SelectedAnchorPoint is not null)
		{
			SelectedAnchorPoint.Action = MapActions.Remove;
			Game.UpdateMap(SelectedAnchorPoint);
			await offcanvas.HideAsync();
		}
	}

	private Offcanvas offcanvas;

	private async Task Click(MouseEventArgs arg)
	{
		temp = new MapItem
			{
				x = (float)Math.Round((arg.OffsetX - 10) / 4.240),
				y = (float)Math.Round((arg.OffsetY - 10) / 2.590),
				ID = Guid.NewGuid()
			};
		Player.MapItems.Add(temp);
		SelectedAnchorPoint = temp;
		await offcanvas?.ShowAsync();
	}

	public void Update()
	{
		InvokeAsync(() => { StateHasChanged(); });
	}
}

