@inject DinoCharacter Player

<div class="d-flex" @onclick=Toggle style="cursor: pointer;">
	@if (IsDown)
	{
		<div style="width: 25px; height: 25px; border-radius: 4px; background: red; border: 1px solid black;"></div>
	}
	else
	{
		<div style="width: 25px; height: 25px; border-radius: 4px; background: white;border: 1px solid black;"></div>
	}
	<span class="ms-1">Fuera de combate</span>
</div>



@code {
	private void Toggle()
	{
		Player.IsDown = !Player.IsDown;
	}

	public bool IsDown
	{
		get { return Player.IsDown; }
		set
		{
			Player.IsDown = value;
		}
	}

}
