.SVPlayerSheet {
    font-family: Trench;
    background:black;
    color:white;
    width:100%;
    height:100%;
    display:flex;
}
    .SVPlayerSheet > div{
        display:flex;
        flex-direction:column;
        flex: 1 1;
    }

    .debug {
        display: flex;
        margin-top: 15px;
    }
    .debug > div {
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        font-family: Roboto;
        font-size: 12px;
        padding: 5px;
    }

.TraumaBox{
    display:flex;
    gap:10px;
    font-family:sans-serif;
    color:#ffffffaa;
}

.ActiveTrauma {
    background: #7f0303;
    padding: 5px;
    border: 1px solid #db2727;
}
.UnactiveTrauma {
    background: #390c0c;
    opacity: 0.5;
    padding: 5px;
    border: 1px solid #b72323;
    flex: 1 1;
}

.abilitiesContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;
    overflow-y: auto;
    background: #01131f;
    flex: 1 1;
    border: 1px solid #15374e;
}

.AddButton {
    width: 50px;
    height: 50px;
    color: #665efb;
    opacity:0.75;
    cursor:pointer;
}
.AddButton:hover{
    opacity:1;
}

.CircularButton {
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 100%;
    opacity:0.75;
    cursor:pointer;
}
.CircularButton:hover{
    opacity:1;
}

.HarmBox {
    display: flex;
    flex-direction: column;
    border: white;
    margin: 0 8px;
    margin-bottom: 0px;
    background: #073003;
}

.TableHeader {
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: system-ui;
}
.TableCell {
    flex:1 1;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.ArmorBox {
    background: #093d04;
    border-left: 1px solid #238519;
    border-right: 1px solid #238519;
}

.RecoveryBox {
    width: 83px;
    height: 100%;
    background: #073003;
    border-bottom: 1px solid #238519;
    padding: 5px;
    padding: 0 5px 5px 5px;
    display: flex;
}

.CredBox {
    width: 58px;
    height: 100%;
    background: rgb(90 52 6);
    display:flex;
    flex-direction:column;
}

.EquipeHeader {
    background: #2F2F2F;
    font-size: 20px;
    padding: 5px;
}
.LoadItem {
    padding:10px;
}