@page "/DBTestPages/People"

@using DataAccessLibrary;
@using DataAccessLibrary.Models;
@using PbtAWorldApp.Models;

@inject IPeopleData _db;

<h3>People</h3>
<h4>Insert New Person</h4>
<EditForm Model="@newPerson" OnValidSubmit="InsertPerson">
	<DataAnnotationsValidator/>
	<ValidationSummary />

	<InputText id="firstName" @bind-Value=newPerson.FirstName />
	<InputText id="secondName" @bind-Value=newPerson.LastName />
	<InputText id="emailAddress" @bind-Value=newPerson.EmailAddress />

	<button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
<h4>Current people</h4>

@if(People is null)
{
	<p><em>Loading ...</em></p>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>email</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var p in People)
			{
				<tr>
					<td>@p.FirstName</td>
					<td>@p.LastName</td>
					<td>@p.emailAddress</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<PersonModel>? People;
	private DisplayPersonModel newPerson = new();

	protected override async Task OnInitializedAsync()
	{
		People = await _db.GetPeople();
	}

	private async Task InsertPerson()
	{
		PersonModel p = new PersonModel
			{
				FirstName = newPerson.FirstName,
				LastName = newPerson.LastName,
				emailAddress = newPerson.EmailAddress
			};

		await _db.InsertPerson(p);

		People?.Add(p);
		newPerson = new DisplayPersonModel();
	}
}
