<div class="d-flex gap-1 align-items-start" style="cursor:pointer;">
	<img src="imgs/Icons/Tick_@(Advance.IsUsed?"Ticked":"Empty").svg" style="padding-top: 2px;"/>
	<div>@Advance.Text</div>
</div>

@code {
	[Parameter] public Advance Advance { get; set; } = new();
	
}
