.PbtASystemContainer {
    --Darker: #1C1E20;
    --Middle: #24262B;
    --Lighter: #2E3138;
    --HoverLight: #5e5a5a;
    background: #25282C;
    font-family: Roboto;
    font-size: 16px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height:100%;
    /*
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    */
}

.FullScreenModal {
    position: fixed;
    inset: 0px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: all;
    transition: opacity 250ms ease 0s;
    flex-direction: column;
}

.HideModal {
    opacity: 0;
    pointer-events: none;
}
.DarkAccordionItem{
    background: #1C1E20;
}
.DarkAccordionHeader{
    background: #1C1E20;
    padding: 5px;
    cursor: pointer;
}

.DarkAccordionBody{
    padding: 10px;
}

.DarkAccordionNotSelected {
    opacity: 0.5;
}

.accordionMovement{
    width: 80%;
}

.ModalBody {
    display: flex;
    background: black;
    border:1px solid gray;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ImagesContainer img {
    aspect-ratio: 1 / 1;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.IconSize {
    width: 23px !important;
    height: 23px !important;
    opacity: .75;
}

.DiceButton {
    width: 28px !important;
    height: 28px !important;
    opacity: 0.12 !important;
}
.DiceButton:hover{
    opacity: 0.25 !important;
}

.Box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 0 0 0 10px;
}

.TextContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    gap: 5px;
}

.TextTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ImagesContainer {
    display: flex;
    gap: 0px;
    align-items: center;
}

.RollDetails {
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 300;
}

.Innactive{
    /*opacity:50%; */
}
.ShowFull{
    opacity: 100%
}
.Innactive .DiceButton {
    opacity: 0.25;
}

.Hidden{
    display:none;
}

.IsSelected {
    background: #30353A;
    border: 1px solid #545454;
}

.MoveBody {    
    padding-top:0;
    font-size:14px;
    font-weight: 300;
    height: 0;
    color:white;
    overflow: hidden;
}
.IsSelected .MoveBody {
    display: flex;
    padding: 10px;
    height: auto;
}

.Advanced {
    border-radius: 5px;
    background: #182418;
    display:flex;
    align-items:center;
    padding: 5px;
    gap:5px;
    margin-top:15px;
}
.AdvancedMainText{
    flex-grow:1;
}
.AdvancedNOT{
    opacity:0.5;
    background: var(--Darker);
}

.AdvancedYEs {
    opacity: 1;
    background-color:transparent;
}

.LIOBox {
    border: 1px solid #521010;
    padding: 5px;
    margin: 5px;
    background: black;
}

.LIOContainer {
    padding: 10px;
    padding-inline: 5px;
}

.MasterSelected{
    border: 1px solid green;
    padding: 5px;
}

.green{
    border-color:green;
}
.red {
    border-color: red;
}
.orange {
    border-color: orange;
}

.ImproveBox {
    background: black;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}
.RollButton {
    cursor: pointer;
    background: #181818;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    margin: 1em;
    transition: all linear 0.2s;
}
.RollButton:hover{
    background:white;
    color:black;
}