<div class="d-flex flex-column" style="border: 2px solid #173767; border-radius:5px; background: #1737674f;">
	<div class="d-flex" style="background: #173767;">
		<h4 class="p-2">@Tittle</h4>
		<div class="btn btn-primary d-flex align-items-center" @onclick=Roll style="background: #143d7c;border-color: #14233c;">
			<i class="bi bi-dice-5"></i>
		</div>
		<div class="btn btn-primary d-flex align-items-center" @onclick=@(()=>{ShowingEverything = !ShowingEverything;}) style="background: #143d7c;border-color: #14233c;">
			@if(ShowingEverything)
			{
                <i class="bi bi-chevron-up"></i>
			}
			else
			{
				<i class="bi bi-chevron-down"></i>
			}
		</div>
	</div>
	<div class="d-flex flex-column">
		@if (ShowingEverything)
		{
			@foreach (var o in Options)
			{
				<div class="p-1" style="@(o == Selected ? "border:solid 1px red; opacity:1;":"opacity:0.5;"); cursor:pointer;" @onclick="@(()=>{Select(o);})">
					@o
				</div>
			}
		}
		else
		{
			<div class="p-1">
				@Selected
			</div>
		}
	</div>
</div>

@code {
	[Parameter] public List<string> Options { get; set; } = new();
	[Parameter] public string Tittle { get; set; } = "Title";
	[Parameter] public EventCallback<Tuple<DinoPlayer,string>> NewSelection { get; set; }
	[Parameter] public DinoPlayer Player { get; set; }

	bool ShowingEverything = true;
	string Selected = "";

	Random rnd = new();

	private void Roll()
	{
		var idx = rnd.Next(0, Options.Count);
		Select(Options[idx]);
	}

	private void Select(string o) 
	{
		Selected = o;
		StateHasChanged();
		ShowingEverything = false;
		NewSelection.InvokeAsync(new Tuple<DinoPlayer, string>(Player, Selected));
	}
}
