.FullScreenModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 800;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: 1;
    pointer-events: all;
    transition: opacity 250ms ease;
    overflow-y: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HideModal {
    display: none !important;
    pointer-events: none;
}

.ModalBody {
    background: #1C1E20;
    padding: 50px;
    padding-top: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    border: 1px solid grey;
    gap: 10px;
    overflow-y: auto;
    max-height: 80%;
    min-height: 80%;
    min-width: 80%;
    max-width: 80%;
}

.CirclesPackContainer{
    width:100%;
    display:flex;
    gap:15px;
}
.CircleContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #222235;
    border-radius: 4px;
    padding: 10px;
    gap:15px;
}
.CircleContainerHeader{
    opacity: 0.5;
    text-align: center;
}
.FactionContainer {
    border: 1px solid #5151a7;
    border-radius: 4px;
}
.FactionContainerHeader {
    background: #3a4171;
    padding: 5px;
    padding-left:15px;
    border-radius: 2px 2px 0 0;
    display:flex;
}
.FactionContainerBody {
    background: #282b3b;
    padding: 5px;
}
.Character {
    padding-left:10px;
    cursor:pointer;
}
    .Character:hover {
        background: #464b6b;
        border-radius: 4px;
    }

.button{
    width:100%;
    text-align:center;
    opacity:0.5;
    cursor:pointer;
}
.button:hover{
    opacity:1;
}

.hoverable{
    opacity: 0.5;

}
.hoverable:hover{
    opacity:1;
}