@using System.Web
@using System.Text.RegularExpressions;

<p style="padding:0; margin:0;">
@((MarkupString)encoded)
</p>

@code {

    /*
     *
     *  consider changing to  :https://www.meziantou.net/rendering-raw-unescaped-html-in-blazor.htm
     *  using tags at: https://commonmark.org/help/
     *
     */

    [Parameter]
    public string Value { get; set; } = default!;

    private string encoded
    {
        get
        {
            var encodedValue = HttpUtility.HtmlEncode(Value);
            encodedValue = encodedValue.Replace("\r\n", "<br />");
            encodedValue = encodedValue.Replace("\r", "<br />");
            encodedValue = encodedValue.Replace("\n", "<br />");
            encodedValue = encodedValue.Replace("\\n", "<br />");
            encodedValue = encodedValue.Replace("**", "</b>");
            encodedValue = encodedValue.Replace("*", "<b>");


            return encodedValue;
        }
    }
}