.VTTContainer
{
    width:100%;
    height:100%;
    flex-grow:1;
    position:absolute;
    overflow:visible;
}

#Map {
    width: 1500px;
    min-width: 1500px;
    position: absolute;
    top: 0;
    left: 0;
}


.VTTMain {
    background: transparent;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
.VTTToken {
    position: absolute;
    background-image: url(/imgs/VTT/Tokens60.png);
    filter: drop-shadow(2px 4px 6px black);
    width:60px;
    height:60px;
    border-radius:30px;
    transition: all 0.5s ease-in-out;
    pointer-events:none;
    z-index:2;
}
    .VTTToken.Selected {
        box-shadow: 0px 0px 11px 8px rgb(114 197 245);
        z-index:10;
    }

.MasterSelector {
    position: absolute;
    top: 0;
    left: 0;
    background: #00000043;
    align-items: center;
    width: 100%;
    color: white;
    font-weight: bold;
    padding-left:10px;
    z-index:10;
}
.LifeContainer{
    width:60px;
    height:8px;
    border:1px solid black;
}

.LifeBar{
    height:100%;
    background:red;
    transition: all 0.3s linear;
}
.NameContainer{
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    background:#00000048;
    border-radius:10px;
    color:white;
}

.TokenStatus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 100px;
}
.Master_Hidden{
    opacity:0.5;
}
.Player_Hidden{
    display:none;
}
.TokenStatus.Master_Dead {
    background: #ff040438;
    background-image: url(./imgs/redCross.png);
    background-size: contain;
}
.TokenStatus.Master_InFlame {
    background: #ff040438;
    background-image: url(./imgs/inflames.png);
    background-size: contain;
}
.TokenStatus.Master_Poisoned {
    background: #420c475e;
    background-image: url(./imgs/poisoned.png);
    background-size: contain;
}
.TokenStatus.Player_Dead {
    background: #ff040438;
    background-image: url(./imgs/redCross.png);
    background-size: contain;
}
.TokenStatus.Player_Poisoned {
    background: #420c475e;
    background-image: url(./imgs/poisoned.png);
    background-size: contain;
}
.TokenStatus.Player_InFlame {
    background: #ff040438;
    background-image: url(./imgs/inflames.png);
    background-size: contain;
}

.FOW {
    position: absolute;
    background: black;
    box-shadow: black 0 0 10px;
    z-index:10;
    pointer-events: none;
}
.FOWMaster{
    z-index:0;
}

.FOWMaster.FOWHidden{
    opacity:0.5;
}

.FOWPlayer.FOWHidden{
    opacity: 0;
}